@use "_colours.scss" as c;

@mixin taskbar-element {
	background-color: c.$ui-grey;
	border: 4px groove;
}

@mixin program-title-bar {
	@include taskbar-element;
	background: linear-gradient(0.25turn, #030774, #0f7ac6);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 5px;
}

@mixin program-title-text {
	color: white;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}
