/*=============================================
=            Imports                          =
=============================================*/
/*=============================================
=            Generic/Main Selectors           =
=============================================*/
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

main {
  font-family: "MS Sans Serif", sans-serif;
}

/*=============================================
=               Desktop Selectors             =
=============================================*/
.desktop {
  background-image: url("../img/windows98-background.jpg");
  background-size: cover;
  height: 96vh;
}
.desktop__icons {
  display: flex;
  flex: 1 1 0px;
  width: 0;
}
.desktop__icons div {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.desktop__program-icon {
  height: 30px;
  width: 30px;
}
.desktop__documents .desktop__program-icon {
  height: 40px;
  width: 40px;
}
.desktop__program-title {
  background-color: #008081;
}

/*=============================================
=            Taskbar Selectors                =
=============================================*/
.taskbar {
  background-color: #c0c7c8;
  border: 4px groove;
  height: 3.4vh;
  display: flex;
  align-items: center;
  font-family: "MS Sans Serif", sans-serif;
  justify-content: space-between;
  /*----------  Menu  ----------*/
  /*----------  Clock  ----------*/
}
.taskbar__start-button {
  background-color: #c0c7c8;
  border: 4px groove;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 0.5rem;
}
.taskbar__start-button-icon {
  width: 35%;
  height: 35%;
}
.taskbar__start-button-text {
  font-weight: bold;
}
.taskbar__menu {
  background-color: #c0c7c8;
  border: 4px groove;
  border-right: black groove 4px;
  border-bottom: black groove 4px;
  position: fixed;
  bottom: 3rem;
  display: flex;
  align-items: baseline;
  flex-direction: row;
}
.taskbar .taskbar__title-bar {
  background-color: darkgrey;
  transform: rotate(270deg);
  display: flex;
  align-items: center;
  height: -moz-max-content;
  height: max-content;
}
.taskbar__menu-items {
  padding-left: 1rem;
  margin-bottom: 0;
}
.taskbar__menu-items div {
  display: flex;
  padding-right: 4rem;
}
.taskbar__shut-down {
  border-top: groove 4px;
  width: -moz-max-content;
  width: max-content;
}
.taskbar__clock {
  border: 4px ridge;
  margin-right: 1rem;
  height: -moz-fit-content;
  height: fit-content;
}

/*=============================================
=            Notepad Selectors                =
=============================================*/
.notepad-modal {
  background-color: #c0c7c8;
  border: 4px groove;
  position: fixed;
  left: 32vw;
  top: 20vh;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30vw;
  /*----------  States  ----------*/
}
.notepad-modal__title-bar {
  background-color: #c0c7c8;
  border: 4px groove;
  background: linear-gradient(0.25turn, #030774, #0f7ac6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
}
.notepad-modal__title {
  color: white;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.notepad-modal__buttons button {
  background-color: #c0c7c8;
  border: 4px groove;
  font-size: 8pt;
}
.notepad-modal__menu-bar {
  background-color: #c0c7c8;
  border: 4px groove;
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 5px;
}
.notepad-modal__menu-bar li {
  padding: 4px;
}
.notepad-modal--option-unavailable {
  color: darkgrey;
  pointer-events: none;
}
.notepad-modal--maximized {
  background-color: #c0c7c8;
  border: 4px groove;
  position: relative;
  top: -11vh;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.notepad-modal textarea {
  resize: none;
  height: inherit;
}
.notepad-modal--inactive {
  opacity: 0;
  pointer-events: none;
}

/*=============================================
=            Document Selectors            =
=============================================*/
.documents-modal {
  background-color: #c0c7c8;
  border: 4px groove;
  position: fixed;
  left: 15vw;
  top: 20vh;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30rem;
  /*----------  States  ----------*/
}
.documents-modal__title-bar {
  background-color: #c0c7c8;
  border: 4px groove;
  background: linear-gradient(0.25turn, #030774, #0f7ac6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
}
.documents-modal__title {
  color: white;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.documents-modal__buttons button {
  background-color: #c0c7c8;
  border: 4px groove;
  font-size: 8pt;
}
.documents-modal__display {
  background-color: white;
  min-height: 30rem;
  margin: 0.5rem;
  padding: 1rem;
}
.documents-modal__display-file-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 2rem;
}
.documents-modal__file {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}
.documents-modal--inactive {
  opacity: 0;
  pointer-events: none;
}

/*=============================================
=            IRC Selectors            =
=============================================*/
.irc-modal {
  background-color: #c0c7c8;
  border: 4px groove;
  position: fixed;
  left: 63vw;
  top: 20vh;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: -moz-fit-content;
  width: fit-content;
  /*----------  States  ----------*/
}
.irc-modal__title-bar {
  background-color: #c0c7c8;
  border: 4px groove;
  background: linear-gradient(0.25turn, #030774, #0f7ac6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
}
.irc-modal__title {
  color: white;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.irc-modal__buttons button {
  background-color: #c0c7c8;
  border: 4px groove;
  font-size: 8pt;
}
.irc-modal__display {
  min-height: 30rem;
  height: inherit;
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.irc-modal__chat-window {
  display: grid;
  grid-template-columns: 30rem 10rem;
}
.irc-modal__chat {
  background-color: white;
  margin: 0.5rem;
  border: 4px groove;
  height: 34rem;
}
.irc-modal__member-list-display {
  background-color: white;
  margin: 0.5rem;
  border: 4px groove;
}
.irc-modal__member-name {
  list-style: none;
  font-weight: bold;
}
.irc-modal__chat-input {
  width: 34.9rem;
  border: 4px groove;
}
.irc-modal__chat-button {
  border: 4px groove;
}
.irc-modal--inactive {
  opacity: 0;
  pointer-events: none;
}/*# sourceMappingURL=styles.css.map */