/*=============================================
=            Imports                          =
=============================================*/
@use "_colours.scss" as c;
@use "_mixins.scss" as m;

/*=============================================
=            Generic/Main Selectors           =
=============================================*/
body {
	margin: 0;
	width: 100%;
	height: 100%;
}

main {
	font-family: "MS Sans Serif", sans-serif;
}

/*=============================================
=               Desktop Selectors             =
=============================================*/

.desktop {
	background-image: url("../img/windows98-background.jpg");
	background-size: cover;
	height: 96vh;

	&__icons {
		// display: grid;
		// grid-template-columns: repeat(10, auto);
		display: flex;
		flex: 1 1 0px;
		width: 0;

		div {
			padding: 10px;
			display: flex;

			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	&__program-icon {
		height: 30px;
		width: 30px;
	}
	&__documents &__program-icon {
		height: 40px;
		width: 40px;
	}

	&__program-title {
		background-color: c.$win9x-teal;
	}
}

/*=============================================
=            Taskbar Selectors                =
=============================================*/
.taskbar {
	@include m.taskbar-element;
	height: 3.2vh;
	display: flex;
	align-items: center;
	font-family: "MS Sans Serif", sans-serif;

	&__start-button {
		@include m.taskbar-element;
		width: fit-content;
		padding: 2px 4px;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	&__start-button-icon {
		width: 35%;
		height: 35%;
	}
	&__start-button-text {
		font-weight: bold;
	}
}

/*=============================================
=            Notepad Selectors                =
=============================================*/
.notepad-modal {
	@include m.taskbar-element;
	position: relative;
	left: 35vw;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 30vw;
	&__title-bar {
		@include m.program-title-bar;
	}
	&__title {
		color: white;
		margin-left: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	&__buttons button {
		@include m.taskbar-element;
		font-size: 8pt;
	}

	&__menu-bar {
		@include m.taskbar-element;
		display: flex;
		list-style: none;
		margin: 0;
		padding-left: 5px;

		li {
			padding: 4px;
		}
	}

	&--option-unavailable {
		color: darkgrey;
		pointer-events: none;
	}

	&--maximized {
		background-color: #c0c7c8;
		border: 4px groove;
		position: relative;
		top: -11vh;
		height: inherit;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	textarea {
		resize: none;
		height: inherit;
	}
}
